<form class="add-form" (ngSubmit)="onSubmit()">
    <div class="form-control">
        <label for="text">Task</label>
        <input name="text" [(ngModel)]="text" id="text" type="text" placeholder="Please Enter the name of Task"/>
    </div>
    <div class="form-control">
        <label for="day">Description</label>
        <input name="text" [(ngModel)]="description" id="description" type="text" placeholder="Add description (optional)"/>
    </div>
    <input type="submit" value="Save Task" class="btn btn-primary"/>
</form>
